@import "Landing.css";
@import "Product.css";

.center-container{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
.searchbar-container{
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
    margin-bottom: 2rem;
}
.searchbar{
    margin-top: 2rem;
}
.logo{
    object-fit: contain;
}
.spinner{
    position: absolute;
    left: 45%;
    top: 50%;
}