@import "Landing.css";

.center-container{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
.searchbar-container{
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
    margin-bottom: 2rem;
}
.searchbar{
    margin-top: 2rem;
}
/*.logo{*/
    /*object-fit: contain;*/
    /*width: 75px;*/
    /*height: 75px;*/
    /*margin-left: 10px;*/
/*}*/
.logo{
    object-fit: contain;
}

